.skeleton {
    position: absolute;
    inset: 0;
    background-color: #e5e7eb;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
  
  @keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  
  img:not([src]) + .skeleton {
    display: block;
  }
  
  img[src] + .skeleton {
    display: none;
  }